@import "./utils";

$border-styles: solid dotted;

@include to-style(bs-, border-style, null, $border-styles);
@include to-style-by-steps(b-, border-width, null, px, 0, 3, 1);

.br-0 {
    border-radius: 0;
}

.bb-1 {
    border-bottom-width: 1px;
}