@import "./utils";

.pointer {
    cursor: pointer;
}

.no-scrollbar {
    scrollbar-width: none; 
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-select {
    user-select: none;
}

.smooth-scroll {
    scroll-behavior: smooth;
}