@import "utils";

$positions: absolute relative fixed;
$floats: left right;
$values: 0 2 5 10 25 35 50 75 100 150;

// padding/margin in px
@include to-style-in-all(px-, padding-left padding-right  , null, $values, "", px);
@include to-style-in-all(py-, padding-top  padding-bottom , null, $values, "", px);

@include to-style-in-all(mx-, margin-left margin-right    , null, $values, "", px);
@include to-style-in-all(my-, margin-top  margin-bottom   , null, $values, "", px);

// margin in %
@include to-style-by-steps-in-all(ml-, margin-left   , p, "%", 0, 100, 25);
@include to-style-by-steps-in-all(mt-, margin-top    , p, "%", 0, 100, 25);

// top/bottom/right/left in px
@include to-style-in-all(top-    , top    , null, $values, "", px);
@include to-style-in-all(left-   , left   , null, $values, "", px);
@include to-style-in-all(right-  , right  , null, $values, "", px);
@include to-style-in-all(bottom- , bottom , null, $values, "", px);

@include to-style-in-all(top-    , top    , p, 50, "", "%");
@include to-style-in-all(left-   , left   , p, 50, "", "%");

@include to-style(null, position, null, $positions);
@include to-style-in-all(null, float, null, $floats);

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.v-middle {
    vertical-align: middle;
}

.items-center {
    align-items: center;
}

.fl-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
    vertical-align: center;
}